<br>
<h3>Search title: <%= @search.title.upcase %></h3>
<font color="orange"> Looking for: <%= @search.subject.upcase %></font>
<br><br>
<% business_names = find_nearby_places_by_name(@search.address, @search.subject, @search.radius) %>
<% business_lat_longs = find_nearby_places_lat_long(@search.address, @search.subject, @search.radius) %>
<% business_names.each_with_index do |name, i| %>
	<% destination = business_lat_longs[i]%>
	<font color="Red"><%= name.upcase %></font><br>
	<% directions = route(@search.address, destination) %>
	<% directions["routes"][0]["legs"][0]["steps"].each do |step| %>  
		<%= step["html_instructions"].html_safe %>
	<br>
	<% end %>
	<br>
<% end %>
<br>
<%=link_to("Edit Search", edit_search_url(@search)) %>
<br>

